[profile.default]
src = 'contracts'
out = 'out'
libs = ['node_modules', 'lib']
test = 'test'
cache_path = 'cache_forge'
viaIR = true
ffi = true
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
holesky = "${HOLESKY_RPC_URL}"
