---
# Tasks for updating config
- name: Determine branch based on environment
  set_fact:
    branch: "{{ branch | default('develop' if env == 'devnet' else 'ci/streamline-deployment' if env == 'staging' else 'main') }}"

- name: Download updated config template locally
  get_url:
    url: "{{ github_base_url }}/{{ branch }}/attestor/config.yaml.j2"
    dest: "./config.yaml.j2"
    force: yes
  delegate_to: localhost
  become: no

- name: Render updated config locally and copy to remote
  template:
    src: "./config.yaml.j2"
    dest: "{{ attestor_install_dir }}/attestor_combined.yaml"
    mode: '0644'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Read updated combined config file
  slurp:
    src: "{{ attestor_install_dir }}/attestor_combined.yaml"
  register: combined_file

- name: Split YAML documents
  set_fact:
    split_docs: "{{ (combined_file.content | b64decode).split('---') }}"

- name: Write updated chain_config.yaml only
  copy:
    content: "{{ split_docs[1] | trim }}"
    dest: "{{ attestor_install_dir }}/chain_config.yaml"
    mode: '0644'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

