[submodule "solidity/lib/forge-std"]
	path = solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/lib/predicate-contracts"]
	path = solidity/lib/predicate-contracts
	url = https://github.com/PredicateLabs/predicate-contracts
