# Ignore files for attestor
go.work*
**/rust/target
**/*.log
*.txt
!requirements.txt
**/*UTC*
**/*.db
*.lock
.DS_Store
# solidity-coverage files
coverage
coverage.json
*.cer
*.key
*.crt
*venv
*.pem
.temp.*
.temp

# ignore go build outputs
/attestor/chainService/chainService
/attestor/signingService/signingService
/attestor/proxy/proxy
