- name: Patch Verulink Attestor
  hosts: all
  become: true
  gather_facts: true
  vars:
    operation: patch
  roles:
    - cloud_common
    - config  # Updates .env file with new docker image tags
  tasks:
    - name: Include Docker role
      include_role:
        name: docker
      when: deployment_type | default('docker') == 'docker'
    
    - name: Include Kubernetes role
      include_role:
        name: k8s
      when: deployment_type | default('docker') == 'k8s'
