x-dbpath: &p # server as value holder for compose file
  /db

x-logpath: &l /log

services:
  chainservice:
    depends_on:
      - signingservice
    container_name: verulink-chain
    image: venture23/verulink-attestor-chain:${DOCKER_IMAGE_TAG_CHAIN}
    volumes:
      - type: volume
        source: db-path
        target: *p
      - type: volume
        source: log-path
        target: *l
      - type: bind
        source: ./chain_config.yaml
        target: /configs/config.yaml
      - ./.mtls:/configs/.mtls
    environment:
      DB_PATH: *p
      LOG_PATH: *l
      LOG_ENC: json
      MODE: stag
      CLEAN_START: false
      MAINTENANCE: false
  signingservice:
    container_name: verulink-sign
    image: venture23/verulink-attestor-sign:${DOCKER_IMAGE_TAG_SIGN}
    volumes:
      - ./sign_config.yaml:/configs/config.yaml
      - ./secrets.yaml:/configs/keys.yaml
    expose:
      - "8080"

volumes:
  db-path:
  log-path:
