{{- /*
Production-ready pre-check template for required values and secrets.
Fails Helm install/upgrade if a required value is missing or a critical secret does not exist.
*/ -}}

{{- /* Required plain values */ -}}
{{- required "deployment_environment is required" .Values.deployment_environment }}
{{- required "attestor_name is required" .Values.attestor_name }}
{{- required "docker_image_tag_sign is required" .Values.docker_image_tag_sign }}
{{- required "docker_image_tag_chain is required" .Values.docker_image_tag_chain }}

{{- required "aleo_chain_id is required" .Values.aleo_chain_id }}
{{- required "aleo_wallet_address is required" .Values.aleo_wallet_address }}
{{- required "aleo_bridge_contract is required" .Values.aleo_bridge_contract }}
{{- required "aleo_node_url is required" .Values.aleo_node_url }}
{{- required "aleo_private_key is required" .Values.aleo_private_key }}

{{- required "bsc_chain_id is required" .Values.bsc_chain_id }}
{{- required "bsc_wallet_address is required" .Values.bsc_wallet_address }}
{{- required "bsc_bridge_contract is required" .Values.bsc_bridge_contract }}
{{- required "bsc_node_url is required" .Values.bsc_node_url }}
{{- required "bsc_filter_topic is required" .Values.bsc_filter_topic }}
{{- required "bsc_start_height is required" .Values.bsc_start_height }}
{{- required "bsc_private_key is required" .Values.bsc_private_key }}

{{- required "db_dir is required" .Values.db_dir }}
{{- required "log_dir is required" .Values.log_dir }}

{{- required "signing_service.host is required" .Values.signing_service.host }}
{{- required "signing_service.port is required" .Values.signing_service.port }}
{{- required "signing_service.username is required" .Values.signing_service.username }}
{{- required "signing_service.password is required" .Values.signing_service.password }}

{{- required "collector_service_url is required" .Values.collector_service_url }}
{{- required "ca_certificate_base64 is required" .Values.ca_certificate_base64 }}
{{- required "attestor_certificate_base64 is required" .Values.attestor_certificate_base64 }}
{{- required "attestor_key_base64 is required" .Values.attestor_key_base64 }}

{{- required "mtls_secret_name is required" .Values.mtls_secret_name }}
{{- required "signingservice_secret_name is required" .Values.signingservice_secret_name }}

{{- required "prometheus_pushgateway_url is required" .Values.prometheus_pushgateway_url }}
{{- required "prometheus_job_name is required" .Values.prometheus_job_name }}

{{- required "service.type is required" .Values.service.type }}
{{- required "service.port is required" .Values.service.port }}

{{- /* Check if critical secrets exist in the namespace */ -}}
{{- if not (lookup "v1" "Secret" .Release.Namespace .Values.mtls_secret_name) }}
{{ fail (printf "Critical secret '%s' is missing in namespace '%s'" .Values.mtls_secret_name .Release.Namespace) }}
{{- end }}

{{- if not (lookup "v1" "Secret" .Release.Namespace .Values.signingservice_secret_name) }}
{{ fail (printf "Critical secret '%s' is missing in namespace '%s'" .Values.signingservice_secret_name .Release.Namespace) }}
{{- end }}
