apiVersion: apps/v1
kind: Deployment
metadata:
  name: signingservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: signingservice
  template:
    metadata:
      labels:
        app: signingservice
    spec:
      initContainers:
        # -----------------------------
        # 1. Render signing config.yaml
        # -----------------------------
        - name: render-sign-config
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              cp /tmpl/config.yaml.tmpl /work/config.yaml
              sed -i "s|username: \".*\"|username: \"$SIGNING_SERVICE_USERNAME\"|" /work/config.yaml
              sed -i "s|password: \".*\"|password: \"$SIGNING_SERVICE_PASSWORD\"|" /work/config.yaml
          env:
            - name: SIGNING_SERVICE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.existingSecretName }}
                  key: SIGNING_SERVICE_USERNAME
            - name: SIGNING_SERVICE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secrets.existingSecretName }}
                  key: SIGNING_SERVICE_PASSWORD
          volumeMounts:
            - name: sign-config-template
              mountPath: /tmpl
            - name: rendered-config
              mountPath: /work

        # -----------------------------
        # 2. Render secrets.yaml (keys)
        # -----------------------------
        - name: render-sign-secrets
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              cat <<EOF > /work/keys.yaml
              chain:
                aleo:
                  chain_type: aleo
                  private_key: "$ALEO_PRIVATE_KEY"
                  wallet_address: "$ALEO_WALLET_ADDRESS"
                bsc:
                  chain_type: evm
                  private_key: "$BSC_PRIVATE_KEY"
                  wallet_address: "$BSC_WALLET_ADDRESS"
                ethereum:
                  chain_type: evm
                  private_key: "$ETHEREUM_PRIVATE_KEY"
                  wallet_address: "$ETHEREUM_WALLET_ADDRESS"
                base:
                  chain_type: evm
                  private_key: "$BASE_PRIVATE_KEY"
                  wallet_address: "$BASE_WALLET_ADDRESS"
                arbitrum:
                  chain_type: evm
                  private_key: "$ARBITRUM_PRIVATE_KEY"
                  wallet_address: "$ARBITRUM_WALLET_ADDRESS"
              EOF
          envFrom:
            - secretRef:
                name: {{ .Values.secrets.existingSecretName }}
          volumeMounts:
            - name: rendered-secrets
              mountPath: /work

      containers:
        - name: signingservice
          image: "{{ .Values.image.sign.repository }}:{{ .Values.image.sign.tag }}"
          # command:
          #   - sh
          #   - -c
          #   - |
          #     sleep infinity
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: rendered-config
              mountPath: /configs/config.yaml
              subPath: config.yaml

            - name: rendered-secrets
              mountPath: /configs/keys.yaml
              subPath: keys.yaml
              readOnly: true

      volumes:
        - name: sign-config-template
          configMap:
            name: sign-config-template

        - name: rendered-config
          emptyDir: {}

        - name: rendered-secrets
          emptyDir: {}
