---
name: <releaseIdentifier>_attestor_verulink_<yourCompanyIdentifier>
version: 1.0.1
chains:
  - name: aleo
    chain_id: 6694886634403
    chain_type: aleo
    wallet_address: <your_aleo_wallet_address> # wallet indentifier
    bridge_contract: vlink_token_bridge_v6.aleo
    node_url: https://api.explorer.provable.com/v1|testnet
    sequence_num_start:
      bsc: 1
    retry_packet_wait_dur: 2m0s
    prune_base_seq_num_wait_dur: 5m0s
    average_block_gen_dur: 3s
    dest_chains:
      bsc:
        pkt_validity_wait_dur: 2m0s
        finality_height: 23
  - name: bsc
    chain_id: 422842677857
    chain_type: evm
    wallet_address: <your_base_wallet_address> # can be same as ethereum address
    bridge_contract: 0x2E8e59559F3F0e1b49484F5f5C7d30b0017b543b
    node_url: wss://base-sepolia-rpc.publicnode.com
    filter_topic: 0x2ea0473a63d92d3182c86a6f05d1984a63782c7c58f5d32bb629fdf43388c1b0
    retry_packet_wait_dur: 1m0s
    prune_base_seq_num_wait_dur: 1m0s
    average_block_gen_dur: 2s
    dest_chains:
      aleo:
        pkt_validity_wait_dur: 1m0s
        finality_height: 21
        feed_pkt_wait_dur: 1m0s
        start_height: <UPDATE_THIS_TO_START_HEIGHT>

check_health_service: 1m
db_dir: /path/to/db/dir
consume_packet_workers: 10 # Default is 10
log:
  encoding: console
  output_dir: /path/to/log/dir
mode: stag
signing_service:
  host: signingservice
  port: 8080
  endpoint: "/sign"
  scheme: "http" # https, http, rpc, etc.
  username: ""
  password: ""
  health_end_point: "/health"
collector_service:
  uri: <collector_service_url>
  # Within collector_wait_dur, collector-service will try to collect all unconfirmed packets iteratively
  collector_wait_dur: 1h
  ca_certificate: /configs/.mtls/ca.cer
  attestor_certificate: /configs/.mtls/attestor1.crt
  attestor_key: /configs/.mtls/attestor1.key

metrics:
  host: <prometheus_pushgateway_url>
  job_name: dev-push-gateway
