---
name: <releaseIdentifier>_attestor_verulink_<yourCompanyIdentifier>
version: 2.0.1
chains:
- name: aleo
  chain_id: 6694886634401
  chain_type: aleo
  wallet_address: <your_aleo_wallet_address> # wallet indentifier
  bridge_contract: vlink_token_bridge_v3.aleo
  node_url: https://api.explorer.provable.com/v1|mainnet
  sequence_num_start:
    bsc: 1
    ethereum: 1555
  retry_packet_wait_dur: 2m0s
  prune_base_seq_num_wait_dur: 5m0s
  average_block_gen_dur: 3s
  dest_chains:
    bsc:
      pkt_validity_wait_dur: 15m0s
      finality_height: 23
    ethereum:
      pkt_validity_wait_dur: 2m0s
      finality_height: 23

- name: bsc
  chain_id: 422842677816
  chain_type: evm
  wallet_address: <your_bsc_wallet_address> # can be same as ethereum address
  bridge_contract: 0x397e47F5072B48681b170199551bdB7fBDa136b7
  node_url: wss://bnb-mainnet.g.alchemy.com/v2/nMksy96jdqlj0Mch3hcw3
  filter_topic: 0x2ea0473a63d92d3182c86a6f05d1984a63782c7c58f5d32bb629fdf43388c1b0
  retry_packet_wait_dur: 1m0s
  prune_base_seq_num_wait_dur: 1m0s
  average_block_gen_dur: 2s
  dest_chains:
    aleo:
      pkt_validity_wait_dur: 1m0s
      finality_height: 21
      feed_pkt_wait_dur: 1m0s
      start_height: 58691840

- name: ethereum
  chain_id: 27234042785
  chain_type: evm
  wallet_address: <your_ethereum_wallet_address>
  bridge_contract: 0x7440176A6F367D3Fad1754519bD8033EAF173133
  node_url: https://eth.llamarpc.com
  start_height: 20740576
  finality_height: 7050
  filter_topic: 0x2ea0473a63d92d3182c86a6f05d1984a63782c7c58f5d32bb629fdf43388c1b0
  feed_pkt_wait_dur: 15m
  pkt_validity_wait_dur: 84600s
  retry_packet_wait_dur: 1m0s
  prune_base_seq_num_wait_dur: 1m0s
  average_block_gen_dur: 2s
  disabled: false
  dest_chains:
    aleo:
      pkt_validity_wait_dur: 24h0m0s
      finality_height: 75
      feed_pkt_wait_dur: 1m0s
      start_height: 4751980
      instant_pkt_wait_dur: 15m

check_health_service : 1m
db_dir: /var/lib/attestor/mainnet
consume_packet_workers: 10 # Default is 10
log:
  encoding: console
  rotation:
      max_size: 100
      max_age: 14
      max_backups: 10
      compress: true
  output_paths:
    - /var/log/attestor/mainnet
    - stdout
mode: prod # dev/prod

signing_service:
  host: signingservice
  port: 8080
  endpoint: "/sign"
  scheme: "http" # https, http, rpc, etc.
  username: "username"
  password: "password"
  health_end_point: "/health"
collector_service:
  uri: <collector_service_url>
  # Within collector_wait_dur, collector-service will try to collect all unconfirmed packets iteratively
  collector_wait_dur: 1h
  ca_certificate: /configs/.mtls/ca.cer
  attestor_certificate: /configs/.mtls/attestor1.crt
  attestor_key: /configs/.mtls/attestor1.key

metrics:
  host: <prometheus_pushgateway_url>
  job_name: prod-push-gateway-v200
