---
name: <releaseIdentifier>_attestor_verulink_<yourCompanyIdentifier>
version: 1.0.1
chains:
  - name: aleo
    chain_id: 6694886634403
    chain_type: aleo
    wallet_address: <your_aleo_wallet_address> # wallet indentifier
    bridge_contract: vlink_token_bridge_v7.aleo
    node_url: https://api.explorer.provable.com/v1|testnet
    sequence_num_start:
      ethereum: 1
      base: 1
      bsc: 1
      arb: 1
    retry_packet_wait_dur: 2m0s
    prune_base_seq_num_wait_dur: 5m0s
    average_block_gen_dur: 3s
    dest_chains:
      base:
        pkt_validity_wait_dur: 2m0s
        finality_height: 23
      ethereum:
        pkt_validity_wait_dur: 1m0s
        finality_height: 21
      bsc:
        pkt_validity_wait_dur: 1m0s
        finality_height: 2
  - name: ethereum
    enabled: false
    chain_id: 111550639260264
    chain_type: evm
    wallet_address: <your_ethereum_wallet_address>
    bridge_contract: 0x52985628b263481360437715e701517B7DB7aE1a
    node_url: https://1rpc.io/holesky
    filter_topic: 0x2ea0473a63d92d3182c86a6f05d1984a63782c7c58f5d32bb629fdf43388c1b0
    retry_packet_wait_dur: 1m0s
    prune_base_seq_num_wait_dur: 1m0s
    average_block_gen_dur: 12s
    dest_chains:
      aleo:
        pkt_validity_wait_dur: 1m0s
        finality_height: 21
        feed_pkt_wait_dur: 1m0s
        start_height: 0
        instant_pkt_wait_dur: 1m
  - name: base
    enabled: false
    chain_id: 443067135441324596
    chain_type: evm
    wallet_address: <your_base_wallet_address> # can be same as ethereum address
    bridge_contract: 0x2E8e59559F3F0e1b49484F5f5C7d30b0017b543b
    node_url: wss://base-sepolia-rpc.publicnode.com
    filter_topic: 0x2ea0473a63d92d3182c86a6f05d1984a63782c7c58f5d32bb629fdf43388c1b0
    retry_packet_wait_dur: 1m0s
    prune_base_seq_num_wait_dur: 1m0s
    average_block_gen_dur: 2s
    dest_chains:
      aleo:
        pkt_validity_wait_dur: 1m0s
        finality_height: 21
        feed_pkt_wait_dur: 1m0s
        start_height: 0

  - name: bsc
    enabled: true
    chain_id: 422842677857
    chain_type: evm
    wallet_address: <your_base_wallet_address> # can be same as ethereum address
    bridge_contract: 0xF3DdFCB8F3e493d0d597d203fB04Ff6aFCC73Da2
    node_url: wss://bsc-testnet-rpc.publicnode.com
    filter_topic: 0x2ea0473a63d92d3182c86a6f05d1984a63782c7c58f5d32bb629fdf43388c1b0
    retry_packet_wait_dur: 1m0s
    prune_base_seq_num_wait_dur: 1m0s
    average_block_gen_dur: 750ms
    dest_chains:
      aleo:
        pkt_validity_wait_dur: 1m0s
        finality_height: 21
        feed_pkt_wait_dur: 1m0s
        start_height: 0

  - name: arb
    enabled: false
    chain_id: 438861435819683566
    chain_type: evm
    wallet_address: <your_base_wallet_address> # can be same as ethereum address
    bridge_contract: 0xeC265daaf32e91b9cE1386E25378D671c7A8b0b8
    node_url: wss://arbitrum-sepolia-rpc.publicnode.com
    filter_topic: 0x2ea0473a63d92d3182c86a6f05d1984a63782c7c58f5d32bb629fdf43388c1b0
    retry_packet_wait_dur: 1m0s
    prune_base_seq_num_wait_dur: 1m0s
    average_block_gen_dur: 750ms
    dest_chains:
      aleo:
        pkt_validity_wait_dur: 1m0s
        finality_height: 21
        feed_pkt_wait_dur: 1m0s
        start_height: 0

check_health_service: 1m
db_dir: /path/to/db/dir
consume_packet_workers: 10 # Default is 10
log:
  encoding: console
  level: info
  rotation:
    max_size: 100
    max_age: 14
    max_backups: 10
    compress: true
  output_paths:
    - /path/to/log/dir/
    - stdout
mode: dev
signing_service:
  host: signingservice
  port: 8080
  endpoint: "/sign"
  scheme: "http" # https, http, rpc, etc.
  username: ""
  password: ""
  health_end_point: "/health"
collector_service:
  uri: <collector_service_url>
  # Within collector_wait_dur, collector-service will try to collect all unconfirmed packets iteratively
  collector_wait_dur: 1h
  ca_certificate: /configs/.mtls/ca.cer
  attestor_certificate: /configs/.mtls/attestor1.crt
  attestor_key: /configs/.mtls/attestor1.key

metrics:
  host: <prometheus_pushgateway_url>
  job_name: dev-push-gateway
