- name: Update Verulink Attestor
  hosts: all
  become: true
  gather_facts: true
  vars:
    operation: update
  roles:
    - cloud_common
    - prechecks
    - secrets  # Always retrieve secrets from cloud Secret Manager
    - config
  tasks:
    - name: Include Docker role
      include_role:
        name: docker
      when: deployment_type | default('docker') == 'docker'
    
    - name: Include Kubernetes role
      include_role:
        name: k8s
      when: deployment_type | default('docker') == 'k8s'
