name: Build and Push Docker Images

on:
  push:
    branches:
      - main
      - staging
      - develop
      - ci/add-docker-image-build-workflow
    tags:
      - 'v*'

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set image tags and other variables
        run: |
          echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "IS_TAG=true" >> $GITHUB_ENV
            echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          else
            echo "IS_TAG=false" >> $GITHUB_ENV
          fi

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      # Step 1: Build signingService Docker image
      - name: Build signingService
        working-directory: attestor
        run: |
          docker build \
            -f ./signingService/Dockerfile \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/verulink-attestor-sign:${SHORT_SHA} \
            $( [ "$IS_TAG" = "true" ] && echo "-t ${{ secrets.DOCKERHUB_USERNAME }}/verulink-attestor-sign:${TAG_NAME}" ) \
            .

      - name: Push signingService image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/verulink-attestor-sign:${SHORT_SHA}
          if [ "$IS_TAG" = "true" ]; then
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/verulink-attestor-sign:${TAG_NAME}
          fi

      # Step 2: Build chainService Docker image (depends on signingService binary)
      - name: Build chainService
        working-directory: attestor
        run: |
          
          docker build \
            -f ./chainService/Dockerfile \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/verulink-attestor-chain:${SHORT_SHA} \
            $( [ "$IS_TAG" = "true" ] && echo "-t ${{ secrets.DOCKERHUB_USERNAME }}/verulink-attestor-chain:${TAG_NAME}" ) \
            ./chainService

      - name: Push chainService image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/verulink-attestor-chain:${SHORT_SHA}
          if [ "$IS_TAG" = "true" ]; then
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/verulink-attestor-chain:${TAG_NAME}
          fi
