name: Build and Push Docker Images

on:
  push:
    branches:
      - main
      - staging
      - develop
      - ci/add-docker-image-build-workflow
    tags:
      - 'v*'

jobs:
  build-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [verulink-attestor-chain, verulink-attestor-sign]

    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/venture23-${{ matrix.service }}:${SHORT_SHA} ./attestor/${{ matrix.service }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/venture23-${{ matrix.service }}:${SHORT_SHA}
